@import "styles/mixins"


.stills
	margin: 20px 0

.stills__list
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	align-content: flex-start
	position: relative
	height: 440px
	overflow: hidden
	@include media("xsSize", "max")
		height: 280px

.stills__list--person
	height: 600px
	.stills__img
		width: 20%
		padding-bottom: 29%
		@include media("xsSize", "max")
			width: 25%
			padding-bottom: 31%

.stills__list--moreLoaded
	height: auto


.stills__img
	cursor: pointer
	width: 25%
	padding-bottom: 14%
	position: relative
	overflow: hidden
	@include media("lgSize", "max")
		padding-bottom: 18%
	@include media("xsSize", "max")
		padding-bottom: 20%
	&--posters
		padding-bottom: 35%
	&:hover
		img
			transform: scale3d(2, 2, 2)
	img
		transition: all 0.6s
		filter: none
		-webkit-filter: blur(0px)
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		-webkit-backface-visibility: hidden
		-ms-transform: translateZ(0)
		-webkit-transform: translate3d(0,0,0)
		transform: translate3d(0,0,0)
		-webkit-font-smoothing: subpixel-antialiased

