@import "styles/mixins"
@import "styles/variables"

.tv-seasons
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%
	padding: 50px 0
	display: flex
	justify-content: center
	align-items: center
	position: relative

.tv-seasons__title
	text-align: center
	font-weight: bold
	font-size: 24px
	margin-bottom: 10px

.tv-seasons__data
	z-index: 25
	width: 100%

.seasons-list
	display: grid
	grid-template-columns: repeat( auto-fill, minmax(158px, 223px) )
	grid-auto-rows: minmax(344px, 1fr)
	margin: 0 15px
	@include media($smSize, "max")
		margin: 0 -10px
	@include media($xsSize, "max")
		grid-auto-rows: minmax(auto, 1fr)
	.movie-item
		padding: 15px

		&:hover
			.season-number
				color: #fff
			.season__img-cover
				&:before
					box-shadow: 0 0 0 0 rgba(0,0,0,0) inset




.season__img-cover
	position: relative
	&:before
		transition: all .5s
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		box-shadow: 0 0 80px 90px rgba(0,0,0,0.4) inset

.season__img-cover--season-page
	&:before
		content: ''

.active-season
	.season-number
		color: #fff
	.season__img-cover
		&:before
			display: none

.season-number
	transition: color .3s linear
	text-align: center
	margin-top: 10px
	font-weight: bold
	font-size: 16px
	color: #7f858c


.season
	padding-top: 15px
	margin-top: 25px

.season__number-series
	font: 400 20px 'Proxima Nova', sans-serif
	margin-bottom: 10px

.episode
	display: flex
	flex-wrap: wrap
	margin-bottom: 15px
	&:last-child
		margin-bottom: 0

.episode__data
	width: 73%
	margin-left: 15px
	@include media($xlSize, "max")
		width: 100%
		margin-left: 0
	@include media($lgSize, "max")
		width: 100%
		margin-left: 0

.episode__header
	margin-bottom: 10px
	background: #0f111e
	background-image: radial-gradient(circle closest-corner at 20% 20%, #272f46, rgba(16, 16, 26, 0.12))
	padding: 10px
	display: flex
	justify-content: space-between
	align-items: center
	border-radius: 3px

.episode__title
	display: flex
	font-size: 19px
	margin-bottom: 3px

.episode__number
	margin-right: 10px

.episode__img
	width: 25%
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	&:before
		content: ''
		display: block
		padding-bottom: 100%

.episode__img--mobile
	margin-right: 15px
	@include media("lgSize", "max")
		width: 20%
	@include media("smSize", "max")
		width: 30%
		margin-bottom: 10px
	@include media("xsSize", "max")
		width: 100%
		margin-right: 0

.episode__overview
	@include media("smSize", "min")
		width: 67%

.episode__overview-img-wrap
	display: flex
	flex-wrap: wrap

.prev-page-link
	font-size: 16px
	margin-bottom: 10px
