.search-field-wrapper
	display: flex



.search-field-btn
	width: 50px
	display: flex
	justify-content: center
	align-items: center
	background: #f4f4f4
	color: #666
	cursor: pointer
	&:active
		box-shadow: inset 0 2px rgba(0,0,0,.3)

.search-results
	margin-top: 25px
	.movies__header
		padding: 0
	.movies__list
		margin: 0 -15px
	.movie-item
		width: 20%
		padding: 15px
		margin: 0
