@import "styles/mixins"
@import "styles/variables"

.person-aside
	width: 190px
	position: relative
	@include media($lgSize, "max")
		margin-top: 15px
		order: 2
		width: 100%
		.person-photo
			display: none
		iframe
			width: 100% !important
			max-width: 100% !important
