@import "styles/mixins"

.collection
	margin-top: 30px
	padding: 10% 0
	width: 100%
	background-repeat: no-repeat
	-webkit-background-size: cover
	background-size: cover
	background-position: 50% 50%
	position: relative
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center


.collection__data
	z-index: 15
	height: 100%

.collection__title
	text-align: center
	font-weight: bold
	font-size: 24px
	margin-bottom: 10px

.collection__overview
	margin: 0 auto
	text-align: center
	margin-bottom: 20px
	width: 800px
	font-size: 17px

.collection__list
	display: flex
	flex-wrap: wrap
	justify-content: center
	.movie-item
		width: 16%
		@include media("xsSize", "max")
			width: 50%
			.movie-item__title
				font-size: 14px
