.movie__bg
	height: 550px
	position: relative
	background-color: #000
	overflow: hidden
	display: flex
	align-items: flex-end
	justify-content: center
	img
		position: absolute
		opacity: 0

.movie__cover
	position: absolute
	top: 0
	right: 0
	width: 100%
	height: 100%
	display: block
	transition: all .5s
	background-size: cover
	background-position: 50% 0
	opacity: 1

.img-loading
	.movie__cover
		opacity: 0

.movie-info
	width: 100%
	position: relative

.shadow-base
	width: 100%
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%)
	background-repeat: no-repeat
	padding: 25px 0


.movie-ratings-wrap
	background: rgba(0,0,0,0.70)
	padding: 15px 0
	width: 100%
	.rating
		.icon
			margin-right: 10px
			font-size: 30px
			text-shadow: 0 0 20px black
		.rating-1
			color: #616161
		.rating-2
			color: #675b5b
		.rating-3
			color: #705252
		.rating-4
			color: #7a4747
		.rating-5
			color: #863c3c
		.rating-6
			color: #922f30
		.rating-7
			color: #9e2424
		.rating-8
			color: #a81918
		.rating-9
			color: #b11010
		.rating-10
			color: #b70a0a

.movie__summary
	margin-left: 16.66666667%
	text-shadow: 0 0 20px black

.movie__title
	font-size: 34px
	display: inline-block

.movie__year
	margin-left: 7px
	color: #999999
	font: 400 25px 'Proxima Nova', sans-serif

.summary-ratings
	margin-left: 16.66666667%

.ratings
	display: flex

.summary-item
	margin-left: 15px
	&:first-child
		margin-left: 0

.summary-item__title
	margin-bottom: 5px

.rating
	display: flex
	flex-wrap: wrap

.movie__aside
	width: 173px
	margin-top: -180px

.movie__poster
	border: 4px solid #fff
	box-shadow: 0 0 20px 0px #666666
	img
		display: block

.info-wrapper
	display: flex
	flex-wrap: wrap
	position: relative
	margin: 20px 0
	h2
		font-size: 18px
		font-weight: bold
		margin-bottom: 15px

.overview
	width: 80%
	padding-left: 20px

.description__text
	font-size: 16px
	line-height: 23px

.trailer
	margin: 20px 0


.trailer__list
	display: flex
	flex-wrap: wrap

.trailer__preview
	width: 25%
	position: relative
	cursor: pointer
	overflow: hidden
	&:hover
		.preview-base
			background: rgba(0, 0, 0, 0)
			i
				transform: translateX(150px)
.preview-base
	position: absolute
	top: 0
	right: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.62)
	transition: all 0.6s
	display: flex
	justify-content: center
	align-items: center
	font-size: 20px
	color: #b39a82
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	i
		transition: all 0.6s

.credits
	margin-top: 40px

.cast
	&:hover
		.actor__info
			opacity: 0.7
	.swiper-wrapper
		margin-bottom: 30px

.actor
	width: 25%
	&:hover
		.actor__info
			opacity: 1
		.actor__role
			color: #d8b16b

.actor__info
	transition: all 0.6s

.actor__name
	transition: all 0.6s
	margin-bottom: 3px

.actor__img
	padding-bottom: 100%
	margin-bottom: 10px
	-webkit-background-size: cover
	background-size: cover
	background-repeat: no-repeat
	background-position: center

.stills
	display: flex
	flex-wrap: wrap
	align-items: flex-start

.stills__img
	cursor: pointer
	width: 25%
	padding-bottom: 15%
	-webkit-background-size: cover
	background-size: cover
	background-repeat: no-repeat
	background-position: center
