@import "./clear.css"
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700')
@import "./nav/nav.sass"
@import "./header/header.sass"
@import "./moveList/moveList.sass"
@import "./moveList/moveItem.sass"

body
	background-image: radial-gradient(circle closest-corner at 50% 20%,#272f46,#10101a)
	font-family: 'PT Sans', sans-serif
	color: #fff
	font-size: 14px

.main
	width: calc(100% - 150px)
	margin-left: 150px

.btn
	cursor: pointer
	font-weight: bold
