@use "sass:meta"

$font-family-monospace: Menlo, Consolas, "Courier New", monospace

//Colors
$imageDefaultBg: #e2e2e1

//Sizes
$headerSize: 60px
$navHideSize: 60px

//Margins
$summaryMargin: calc(190px + 20px)

//Breakpoints
$xsSize: 576px
$smSize: 763px
$lgSize: 992px
$xlSize: 1200px
$xxlSize: 1400px

